<div class="loginDetail">
    <h2 class="display-6 fw-bold text-white">Welcome to our community</h2>

    <h6 class="text-white-50">Fuse helps developers to build organized and well coded dashboards full of beautiful and rich modules. Join us and start building your application today.</h6>

    <div class="loginDetail__containerPeoepleGallery">
        <div class="loginDetail__peoepleGallery">

        </div>
        <h6 class="text-white-50">
            More than 17k people joined us, it's your turn
        </h6>
    </div>
</div>