<!-- <h1>Enrutador activado:</h1>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

<h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form> -->

<!-- <div class="container2">
  <app-login></app-login>
</div> -->

<!-- <app-login class="container2"></app-login> -->
<!-- <app-login class=""></app-login> -->

<router-outlet></router-outlet>
