

<div class="loginContainer">

    <div class="loginMain">
        <div class="loginMain__logo">
                LOGO
        </div>

        <div class="loginMain__title">
            <h2>Forgot password?</h2>
            <p>Fill the form to reset your password</p>
        </div>

        <div class="loginMain__form">

            <form class="example-form">

                <div>
                    <label class="form-label">Email address</label>
                    <div class="form-control">
                        <input type="email" id="inputPassword5"  [formControl]="emailFormControl" >
                        <i class="bi bi-eye-fill"></i>
                    </div>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required') && emailFormControl.touched ">
                        <small>Email address is <strong>required</strong></small>
                    </mat-error>
                </div>
               
              </form>

        </div>

        <a href="" class="loginMain__signIn">Send reset link</a>

        <p>Return to <a routerLink="/login">sign in</a></p>
        
    </div>

    

</div>



